<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go Tournament</title>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>
    <body>
        <%- include ('partials/header.ejs')%>
        <%- include ('partials/nav.ejs')%>

        <main>
            <div class="container">
                <h2> Contact Information </h2>
                <div class="inner">
                    <header>
                        <h3>Hayden Key</h3>
                        <p>Creator and Founder</p>
                    </header>
                    <p><strong>Email: </strong> hkey8@uncc.edu</p>
                </div>
            </div>
        </main>

        <%- include ('partials/footer.ejs')%>
    </body>
</html>