<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Go Tournament</title>
        <link rel="stylesheet" type="text/css" href="../assets/style.css">
    </head>

    <body>
        <%- include ('partials/header.ejs')%>
        <%- include ('partials/nav.ejs')%>

        <main>
            <div class="container">
                <h2>Kyu Matches</h2>
                <div class="inner">
                    <header>
                        <h3>Brad vs Chad</h3>
                        <p>RANKINGS: 1 dan vs 1 dan</p>
                    </header>
                    <p>DATE AND TIME</p>
                    <p>PLACE</p>
                    <p>REFEREE</p>
                </div>

                <div class="inner">
                    <header>
                        <h3>Brad vs Chad</h3>
                        <p>RANKINGS: 1 dan vs 1 dan</p>
                    </header>
                    <p>DATE AND TIME</p>
                    <p>PLACE</p>
                    <p>REFEREE</p>
                </div>
            </div>

            <div class="container">
                <h2>Dan Matches</h2>
                <div class="inner">
                    <header>
                        <h3>Komugi vs Meruem</h3>
                        <p>RANKINGS: 10 dan vs 10 dan</p>
                    </header>
                    <p>TBD - 11:50 PM</p>
                    <p>The Royal Palace of East Gorteau</p>
                    <p>Pouf</p>
                </div>

                <div class="inner">
                    <header>
                        <h3>Brad vs Chad</h3>
                        <p>RANKINGS: 10k vs 12k</p>
                    </header>
                    <p>DATE AND TIME</p>
                    <p>PLACE</p>
                    <p>REFEREE</p>
                </div>
            </div>

            <div class="aside">
                <h2>Want to play?</h2>
                <p>Sign up here!</p>
            </div>
        </main>

        <%- include ('partials/footer.ejs')%>
    </body>
</html>