<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Go Tournament</title>
        <link rel="stylesheet" type="text/css" href="../assets/style.css">
    </head>
    <body>
        <%- include ('partials/header.ejs')%>
        <%- include ('partials/nav.ejs')%>

        <main>
            <div class="container">
                <h2>Kyu Match</h2>
                <p>You have a match scheduled</p>
                <div class="inner">
                    <header>
                        <h3>You vs Chad.</h3>
                        <p>Chad is the coolest kid around, next to you!</p><br>
                    </header>
                    <p><strong>Rank of opponent:</strong> 12k</p>
                    <p><strong>Age:</strong> 22 years old</p>
                    <p><strong>Date:</strong> Friday, January 31st, 2020</p>
                    <p><strong>Time:</strong> 5:30-6:30</p>
                    <p><strong>Location:</strong> East Hall, 2nd floor, board 62</p>
                </div>
            </div>

            <div class="aside">
                <h2>Will you be attenting?</h2><br>
                <button>Yes</button>
                <button>No</button>
                <button>Maybe</button>
            </div>
        </main>



        <%- include ('partials/footer.ejs')%>
    </body>
</html>