<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go Tournament</title>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>
    <body>
        <%- include ('partials/header.ejs')%>
        <%- include ('partials/nav.ejs')%>

        <form>
            <label>Opponent Name</label>
            <input type="text">
            <label>When</label>
            <input type="text">
            <label>Where</label>
            <input type="text">
        </form>

        <%- include ('partials/footer.ejs')%>
    </body>
</html>