<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Go Tournament</title>
        <link rel="stylesheet" type="text/css" href="../assets/style.css">
    </head>

    <body>
        <%- include ('partials/header.ejs')%>
        <%- include ('partials/nav.ejs')%>

        <main>
            <h2>Connections</h2>
            <table border="1px solid black">
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Rank</th>
                </tr>
                <tr>
                    <td>Komugi</td>
                    <td>19y</td>
                    <td>10p</td>
                </tr>
                <tr>
                    <td>Meruem</td>
                    <td>3m</td>
                    <td>9p</td>
                </tr>
                <tr>
                    <td>Chad</td>
                    <td>22y</td>
                    <td>12k</td>
                </tr>
                <tr>
                    <td>Brad</td>
                    <td>25y</td>
                    <td>10k</td>
                </tr>
            </table>
        </main>

        <%- include ('partials/footer.ejs')%>
    </body>
</html>