<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="matches">Start a new Match</a></li>
        <li><a href="userController/login">Login</a></li>
        <li><a href="userController/signup">Sign Up</a></li>
    </ul>
</nav>